body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor principal */
.container {
    background-color: #252b33;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    max-width: 400px;
    text-align: center;
}

/* Títulos y texto */
.container h2 {
    margin-bottom: 10px;
    color: #ffffff;
}

.container p {
    margin-bottom: 20px;
    color: #dddddd;
}

/* Formulario */
.login-form label {
    display: block;
    margin: 10px 0 5px;
    color: #e0e0e0;
    font-weight: bold;
    text-align: left;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-form input[type="submit"]:hover {
    background-color: #174577;
}

/* Logo */
.logo {
    margin-top: 20px;
    max-width: 150px;
    border-radius: 5px;
}
